@model IEnumerable<bela.Models.Bela>

@{
    int UkMi = Model.Sum(x => x.BodoviMi) + Model.Sum(x => x.ZvanjaMi);
    int UkVi = Model.Sum(x => x.BodoviVi) + Model.Sum(x => x.ZvanjaVi);

    ViewData["Title"] = "Index";

    int Mi = Model.Sum(x => x.BodoviMi);
    int Vi = Model.Sum(y => y.BodoviVi);

    bool sakrij()
    {
        if ((UkMi < 1000) && (UkVi < 1000))
        {
            return false;
        }
        else
        {
            return true;
        }

    }

    bool sakrij1()
    {
        if (((UkMi > 1000) || (UkVi > 1000)) && UkMi > UkVi)
        {
            return false;
        }
        else
        {
            return true;
        }

    }

    bool sakrij2()
    {
        if (((UkMi > 1000) || (UkVi > 1000)) && UkMi < UkVi)
        {
            return false;
        }
        else
        {
            return true;
        }

    }

    bool sakrij3()
    {
        if (((UkMi > 1000) || (UkVi > 1000)) && UkMi == UkVi)
        {
            return false;
        }
        else
        {
            return true;
        }

    }

    bool tblskrivena()
    {

        return false;

    }

}

<h1>Index</h1>



<form typeof="get">
    Upišite naziv partije:
    <input type="search" name="search" />
    <input type="submit" value="trazi" />
</form>
<table class="table" id="tablica" hidden=@tblskrivena()>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZvanjaMi)
            </th>
            <th>
                <h2> Mi </h2>
            </th>
            <th>
                <h2> Vi </h2>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZvanjaVi)
            </th>
            <th>partija</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ZvanjaMi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BodoviMi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BodoviVi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZvanjaVi)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        <tr>
            <td>
                <h3>@Model.Sum(x => x.ZvanjaMi)</h3>
            </td>
            <td>
                <h3> @UkMi</h3>
            </td>
            <td>
                <h3> @UkVi</h3>
            </td>
            <td>
                <h3> @Model.Sum(x => x.ZvanjaVi)</h3>
            </td>
            <td>
                <a id="kreiraj" hidden=@sakrij() asp-action="Create">UPIS BODOVA</a>
            </td>
        </tr>

    </tbody>
</table>
<div id="kraj1" hidden=@sakrij1()>
    <h2> Pobijedila je ekipa Mi sa @UkMi dok je ekipa Vi imala @UkVi bodova!</h2>
    <h1>Molimo Vas kreirajte novu partiju!</h1>
</div>

<div id="kraj2" hidden=@sakrij2()>
    <h2> Pobijedila je ekipa Vi sa @UkVi dok je ekipa Mi imala @UkMi bodova!</h2>
    <h1>Molimo Vas kreirajte novu partiju!</h1>
</div>

<div id="kraj3" hidden=@sakrij3()>
    <h2> Partija je završila izjednačenjem, obje ekipe imaju @UkVi bodova!</h2>
    <h1>Molimo Vas kreirajte novu partiju!</h1>
</div>